#include "kscp.h"

MENU ID_KSCP
BEGIN
    SUBMENU "~File", IDM_FILE
    BEGIN
        MENUITEM "~Open...", IDM_FILE_OPEN
        MENUITEM "~Close", IDM_FILE_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "~Download directory...", IDM_FILE_DLDIR
        MENUITEM SEPARATOR
        MENUITEM "~Exit", IDM_FILE_EXIT
    END
END

MENU IDM_KSCP_POPUP
BEGIN
    MENUITEM "~Download...", IDM_KSCP_DOWNLOAD
    MENUITEM "~Upload...", IDM_KSCP_UPLOAD
END

DLGTEMPLATE IDD_OPEN
BEGIN
	DIALOG "Open connection", IDD_OPEN, 43, 39, 267, 128, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		LTEXT "Address", -1, 31, 100, 36, 8
		LTEXT "Username", -1, 31, 75, 36, 8, NOT WS_GROUP
		LTEXT "Password", -1, 31, 50, 36, 8, NOT WS_GROUP
		CONTROL "", IDCB_OPEN_ADDR, 81, 98, 155, 12, WC_COMBOBOX, CBS_DROPDOWN | WS_GROUP | WS_TABSTOP | WS_VISIBLE
		ENTRYFIELD "", IDEF_OPEN_USERNAME, 82, 75, 113, 8, ES_MARGIN
		ENTRYFIELD "", IDEF_OPEN_PASSWORD, 82, 50, 113, 8, ES_MARGIN |
ES_UNREADABLE
		DEFPUSHBUTTON "Ok", DID_OK, 78, 18, 40, 14, WS_GROUP
		PUSHBUTTON "Cancel", DID_CANCEL, 148, 18, 40, 14
	END
END

DLGTEMPLATE IDD_DOWNLOAD
BEGIN
    DIALOG "Download", 100, 6, 52, 246, 114, 0, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		PUSHBUTTON "Cancel", DID_CANCEL, 98, 8, 51, 14
		CONTROL "Index", IDT_DOWNLOAD_INDEX, 0, 98, 246, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Filename", IDT_DOWNLOAD_FILENAME, 0, 77, 246, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Unknown", IDT_DOWNLOAD_STATUS, 0, 56, 246, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Unknown", IDT_DOWNLOAD_SPEED, 0, 35, 246, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END
END

